@charset "utf-8";
/* CSS Document */

img {
	resize: both;
    overflow: auto;
	max-width:100%;
}

div {
	max-width: 100%;
	width: 100%;

}


table {
	margin-top:32%;
	position:absolute;
	max-width: 100%;
	width: 100%;
	resize:both;
	
}

.input_field { position: relative; width:240px; }
.input_field input { position: float; border:none: background:#fff; display:block; width: 100%; box-sizing: border-box }
.input_field img { position: float; top: 2px; right: 5px }

/*                container dimension                    */
#container {
	max-width: 100%; 
	position:fixed;
    width: 100%;
}

#background {
	max-width:100%;
	position:fixed;
	width: 100%;
}