@charset "utf-8";
/* CSS Document */

img {
	resize: both;
    overflow: auto;
	max-width:100%;
}

div {
	max-width: 100%;
	width: 100%;

}


table {
	max-width: 100%;
	width: 100%;
	resize:both;
	
}

#location {
	opacity:1;
}

#location:onclick {
	
	opacity:0;
}

#input {
	opacity:0;
}

#input:onclick {
	
	opacity:1;
}


#locate {
    min-height: 4em; /* it should resize as required from this minimum height */
}





/*                container dimension                    */
#container {
	max-width: 100%; 
	position:fixed;
    width: 100%;
}

#background {
	max-width:100%;
	position:fixed;
	width: 100%;
}